* {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 200;
}

body {
  margin-left, margin-right: 15%;
  margin-top: 2.5%;
}

#project-name {
  font-size: 5rem;
}


#search-input {
  width: 50%;
  font-size: 1.75rem;
  height: 2.5rem;
  margin: 2.5%;
}

#username, #password {
  width: 50%;
  font-size: 1.75rem;
  height: 2.5rem;
  margin: 2.5%;
}

#login-submit {
  font-size: 1.5rem;
  border-radius: 0.5%;
}


.navbar {
  margin-top: -2%;
}

.App {
  text-align: center;
}

.article-card {
  margin: 10px;
  display: inline-block;
}

.article-list-container {
  margin: 10px;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  justify-content: center;
}


.filter-bar {
  display: inline-block;
  border: .75px;
  width: 100%
}



.content-container {
  display: inline-block;
  border: .75px;

}

.article-detail {
  padding: 05%;
  display: inline-block;

}

img {
  max-width: 500px;
  max-height: auto;
}
